/*medium layout: 1280px. */
@media only screen and (min-width:992px) and (max-width: 1200px)
{                       }

/* tablet layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px)
{       


.container {
 	width: 90%;
 	
  }

.headline {
 	max-width: 500px;
 }

.header {
	display: none;
}

.banner {
	padding: 40px 0px;
	margin-bottom: 20px;
}

.banner .col h2 {
	font-size: 54px;
	line-height: 64px;
	font-weight: 150px;
	padding-top: 5px;
	padding-bottom: 50px;
}

 .banner .col p{
 	font-size: 16px;
 	line-height: 29px;

 }

 .about{
 	padding: 40px 0px;
 }

.header .row{
	display: block;
}


.about .col1 {
	width: 100%;
}

.about .col2 {
	width: 100%;
}

.about .all-col2 h2{
	margin-top: 10PX;
	margin-bottom: 2PX;
}

.services{
	padding: 40PX 0PX;
}

.services .col1{
	width: 50%;
}

.services .service-box{
	padding: 10px 0px;
}

.freelancer .col{
	padding: 40px 0px;
}

.client{
	padding: 40px 0px;
}

.portfolio{
	padding: 40px 0px;
}

.portfolio .work-menu ul li{
	margin-bottom: 30px;
}

.portfolio .col1{
	width: 47%;
}

.blog{
	padding: 40px 0px;
}

.blog .col1{
	width: 100%;

}

.contact .col1{
	width: 100%;
	margin-bottom: 15px;
}

.contact .reg-area input:nth-child(1){
	width: 100%;
}

.contact .reg-area input:nth-child(2){
	width: 100%;
}

.contact .reg-area input:nth-child(4){
	height: 100px;
}

/*END*/
  } 


/* mobile layout: 320px */
@media only screen and  (max-width: 767px)
{   
.container {
	width: 90%;
}

.header {
	display: none;
}


.about {
	padding-top: 20px;
	padding-bottom: 10px;
}

.about .col1{
	width: 100%;
}
.about .row{
	display: block;
}

.about .col2 {
	width: 100%;
}

.client{
	padding: 20px 0px;
	margin: 2px 0px
}






 

/*END*/
 }

/* wide mobile layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px)
{                       }